meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Alistamiento para toma de muestras agua, suelo, olores y ruido
meta(meta name="description" content="En este componente formativo se caracterizar치 el estado ambiental de una zona de estudio en sus factores ambientales agua, suelo, olores y ruido, como insumo para realizar un diagn칩stico ambiental adecuado, para ello es necesario entre otras cosas, alistar los materiales de laboratorio, reactivos, equipos y protocolos que permitir치n obtener la informaci칩n y las muestras requeridas de manera rigurosa y estandarizada.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")