h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Cód. 002 – Alistar materiales, equipos e insumos, para la toma de muestras de agua, suelo, olores y medición de ruido de acuerdo con los protocolos y procedimientos técnicos.