h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Presentación', 'main.html#page/presentacion/')
                    +navTemaItem('2', 'Introducción importancia de la Toma de muestra', 'main.html#page/introduccion/')
                    +navTemaItem('3', 'Bases conceptuales, características y tipos de contaminación en el agua, suelo y aire', 'main.html#page/base1/')
                    +navTemaItem('4', 'Alistamiento de la toma de muestras', 'main.html#page/alistamiento/')
                    +navTemaItem('5', 'Consideraciones a tener en cuenta en el sitio de muestreo', 'main.html#page/consideraciones/')
                    +navTemaItem('6', 'Equipos y materiales para la toma de muestras y análisis in situ', 'main.html#page/equipos/')
                    +navTemaItem('7', 'Reconocimiento de material de laboratorio para análisis físicos químicos y microbiológico de las muestras', 'main.html#page/reconocimiento/')
                    +navTemaItem('8', 'Calibración de equipos, fichas técnicas y manuales', 'main.html#page/calibracion/')