.container#presentacion

    .header-ecored
        h1 1. Presentación

    .card

        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")

        .card-body
            .card-text
                p #[b Importancia de la Toma de muestra ]

                p.mt-4 Un primer paso para comenzar a implementar la gestión ambiental en las organizaciones es realizando la toma de muestras para identificar el estado ambiental de una zona de estudio en sus factores ambientales agua, suelo, olores y ruido, como insumo para realizar un diagnóstico ambiental adecuado, para ello es necesario entre otras cosas, alistar los materiales de laboratorio, reactivos, equipos y protocolos que permitirán obtener la información y las muestras requeridas de manera rigurosa y estandarizada. 

                p.mt-4 La presente guía busca apoyar su proceso de formación, específicamente en lo concerniente a la actividad de aprendizaje denominada “Alistar materiales de laboratorio y preparar soluciones para el procesamiento de las muestras según su naturaleza”

                p.mt-4 #[b Mapa de navegación], en esta unidad temática se desarrollará 8 contenidos virtuales para tener bases concretas en el proceso de alistamiento de la toma de muestras en cuanto a identificación de equipos y materiales para la toma de muestra e identificación del área donde se tomará la muestra.

                .row.bg-color3.mx-0.mt-5
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 1
                        .list__txt
                            p.mb-0 Presentación.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 2
                        .list__txt
                            p.mb-0 Introducción importancia a la toma de muestra.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 3
                        .list__txt
                            p.mb-0 Bases conceptuales, características y tipos de contaminación.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 4
                        .list__txt
                            p.mb-0 Alistamiento de la toma de muestras.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 5
                        .list__txt
                            p.mb-0 Consideraciones a tener en cuenta en el sitio de muestreo.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 6
                        .list__txt
                            p.mb-0 Equipos y materiales para la toma de muestras y análisis in situ.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 7
                        .list__txt
                            p.mb-0 Reconocimiento de material de laboratorio para análisis físicos químicos y microbiológico de las muestras.
                .row.bg-color3.mx-0.mt-3
                    .list.align-items-center
                        .list__item
                            .list__item__bulletNumber
                                span 8
                        .list__txt
                            p.mb-0 Calibración de equipos, fichas técnicas y manuales.