.container#introduccion

    .header-ecored
        h1 2. Introducción importancia de la Toma de muestra

    .jumbotron.bg-white.mt-5

        .row.align-items-center
            .col-12.col-md-6
                p El objetivo del muestreo es obtener una parte representativa del material bajo estudio (cuerpo de agua, efluente industrial, agua residual, suelos, emisiones, etc.) para la cual se analizarán las variables fisicoquímicas y microbiológicas de interés, para esto se requiere que el estudiante identifique los equipos y materiales de muestreo, el plan de muestreo y protocolos de muestreo específicos según factor ambiental evaluado.
            
            .col-12.col-md-6.text-center
                img.img-fluid(src="assets/images/pages/img2.png", style="max-width: 50%")
        
        .row.align-items-center.mt-4
            .col-12.col-md-6.text-center
                img.img-fluid(src="assets/images/pages/img3.png", style="max-width: 50%")
            
            .col-12.col-md-6.mt-2
                p En algunos casos, el objetivo del muestreo es demostrar que se cumplen las normas especificadas por la legislación ambiental como actividades de prevención y control ambiental, y otros casos como medida de corrección y vigilancia cuando se ha ocasionado un impacto ambiental significativo como la contaminación ambiental en un ecosistema.

        p.mt-4 Por tanto, lo invitamos a visualizar el siguiente video Noticias caracol (2018, marzo 23) Derrame de petróleo, Barrancabermeja, petróleo, río Sogamoso.

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SpHnn-ypYkE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')