.container#base1

    .header-ecored
        h1 3. Bases conceptuales, características y tipos de contaminación en el agua, suelo y aire

    br#bases2

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.1 Bases conceptuales, características y tipos de contaminación en el agua

        .sub-line
            h3 Definición

        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img4.png", style="max-width: 100%")
        
        p La mayor reserva de agua está en los océanos, que contienen el 97% del agua que existe en la Tierra. Se trata de agua salada, que sólo permite la vida de la flora y fauna marina. El resto es agua dulce, pero no toda está disponible: gran parte permanece siempre helada, formando los casquetes polares y los glaciales.

        p Para profundizar ver el siguiente documento:

        section
            .row.justify-content-center
                .col-auto
                    a(href="http://www.fao.org/3/w1309s/w1309s06.htm#TopOfPage" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p El agua

        .hr

        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b Cuencas, ríos y lagos
        
        .row.align-items-center.justify-content-center.mt-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img5.png", style="max-width: 100%")

        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
            .col-12
                p Una cuenca abarca todo el territorio cuyas aguas confluyen hacia un río, lago o mar. Dentro de una misma cuenca, pueden existir climas (temperatura, insolación, humedad) diferentes según la altitud del terreno. También influye en el clima la orientación de las laderas. Estas variaciones originan distintos pisos de vegetación.

        .row.align-items-center.mt-5
            .col-10.col-md-6.text-center
                img.img-fluid(src="assets/images/pages/img6.png", style="max-width: 100%")
        
            .col-12.col-md-6
                .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
                    .col-12
                        p Dentro del cauce de los ríos, el agua circula desde las regiones más altas hacia las más bajas. En las zonas en pendiente, el agua fluye con mayor velocidad y fuerza. Por esta razón, aumenta la erosión de las riberas, especialmente cuando no están protegidas por vegetación.
        
        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
            .col-12
                p Al acercarse a la desembocadura, disminuye la velocidad y aumenta el caudal y la sedimentación del suelo arrastrado. Los lagos son grandes masas de agua que permanecen estacionadas en una depresión del terreno.
        
        .row.align-items-center.justify-content-center.mt-4
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img7.png", style="max-width: 100%")
        
        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
            .col-12
                p Generalmente tienen un sistema de ríos o glaciares que los alimentan. La mayoría vierte el exceso de agua a través de otros ríos. Pero existen otros lagos, como el Titicaca, situado entre Bolivia y Perú, que pertenece a una cuenca cerrada.

                p Según la profundidad, en el interior de un lago existen variaciones en la temperatura del agua y en la cantidad de luz solar que llega. Estas variaciones condicionan las posibilidades de vida de las diversas especies vegetales y animales. En cada profundidad, sólo se encuentran las especies que logrado modificarse para adaptarse a ella.

        p.mt-4 Para profundizar ver el siguiente documento:

        section
            .row.justify-content-center
                .col-auto
                    a(href="http://www.fao.org/3/w1309s/w1309s06.htm#TopOfPage" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p El agua
        
        .hr

        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b El ciclo del agua
        
        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SpHnn-ypYkE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .hr

        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b El agua y los seres vivos
        
        p El agua es indispensable para la vida, porque ningún organismo sobrevive sin ella. Es un constituyente esencial de la materia viva y la fuente de hidrógeno para los organismos. También influye en ellos a través de la atmósfera y el clima.
        
        p Es el medio en el que se desarrolla la abundante y variada flora y fauna acuática. Los seres vivos están formados en su mayor parte por agua. En el caso de algunos animales marinos el porcentaje de agua puede superar el 95%. Las semillas secas, que conservan sólo rastros de humedad, no pueden germinar sin absorber grandes cantidades de agua.

        .header-arrow.my-5
            h3.text-center El agua interviene en todas las funciones vitales de plantas y animales:

        .row.justify-content-center
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img8.png").img-fluid
                        p.card__copy Las plantas verdes realizan la fotosíntesis a partir de agua y dióxido de carbono. Sus raíces captan los nutrientes cuando están disueltos en agua. La savia, una solución, distribuye la sustancia orgánica en el interior de las plantas.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img9.png").img-fluid
                        p.card__copy En los animales, el agua participa en importantes reacciones bioquímicas que se desarrollan dentro de las células. Además, disuelve y transporta las sustancias necesarias para la alimentación celular y las sustancias tóxicas que el organismo expulsa en forma de sudor y orina.
        
        p Los organismos acuáticos absorben el agua directamente del medio y la excretan en él después de utilizada. Cuando mueren, el agua que contienen vuelve al medio en el proceso de descomposición de la materia.

        p Las plantas terrestres incorporan el agua desde el suelo y la devuelven a la atmósfera con la transpiración y respiración.

        .header-arrow.my-5
            h3.text-center Los animales terrestres la obtienen a través de distintas fuentes:

        .list.align-items-start
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Absorbiéndola a través de la superficie corporal (ranas).
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Alimentándose de sustancias que contienen agua o bebiéndola directamente (aves, mamíferos).
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 A partir de la descomposición de las grasas que almacenan (algunos animales adaptados al desierto).
        
        p.mt-4 Reintegran el agua al medio ambiente con la respiración, transpiración y con la orina y excrementos. Después de la muerte y descomposición de vegetales y animales, el agua se reincorpora a su ciclo ambiental, a través de la atmósfera y del suelo.

        p Este ciclo del agua a través de la vida influye en la humedad atmosférica. Por ejemplo, las selvas tropicales mantienen alta la humedad atmosférica y, en consecuencia, originan lluvias.

        p Para profundizar ver el siguiente documento:

        section
            .row.justify-content-center
                .col-auto
                    a(href="http://www.fao.org/3/w1309s/w1309s06.htm#TopOfPage" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p El agua
        
        .hr

        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b El agua y la actividad humana
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img10.png", style="max-width: 100%")
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img11.png", style="max-width: 100%")
        
        p.mt-4 En las últimas décadas, se han multiplicado las áreas agrícolas dependientes del riego para la producción de alimentos. Las industrias y actividades mineras la emplean para el lavado, enfriamiento, dilución, remojo, procesamiento, eliminación de productos de desecho, etc. Es posible utilizar las caídas de agua para producir electricidad y para mover molinos. Los ríos son un importante medio de transporte y comunicación.

        .sub-line
            h3 Propiedades del agua

        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b Propiedades físicas

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SpHnn-ypYkE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        p.mt-4 Para profundizar sobre las propiedades físicas y químicas, ver el siguiente documento:

        section
            .row.justify-content-center
                .col-auto
                    a(href="https://www.iagua.es/noticias/mexico/conagua/17/05/16/propiedades-agua" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Las propiedades del agua

        .sub-line
            h3 Contaminación del agua
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img12.png", style="max-width: 100%")
        
        p.mt-4 La materia orgánica presente en el agua es destruida por organismos descomponedores (bacterias), que necesitan oxígeno para actuar. Cuando el agua de lagos y ríos está sobrecargada de desechos orgánicos, escasea el oxígeno y las plantas y animales pueden morir.

        p Otro peligro es el aumento de los fosfatos y nitratos que se liberan durante la descomposición de los desechos orgánicos. Estas sustancias son nutrientes para los vegetales y favorecen la proliferación de plantas en la superficie, como algas o jacintos de agua. 

        p Esta masa densa obstaculiza el paso de la luz solar y el intercambio de gases con la atmósfera, pudiendo destruir otras formas de vida vegetal y animal existentes. Además, las plantas realizan la fotosíntesis y respiran durante el día. Por la noche respiran solamente, consumiendo el oxígeno disuelto en el agua. De esta manera, las grandes masas de algas compiten con los peces por el oxígeno existente.

        p Los desechos orgánicos de origen animal pueden contener parásitos, bacterias y virus que transmiten enfermedades. Entre éstas podemos mencionar el cólera, diarreas, tifus, hepatitis, parásitos intestinales, todas de consecuencias graves para la salud.

        p Como medio de prevenir el contagio, cuando no estamos seguros de la calidad del agua es conveniente hervir durante diez minutos la que consumimos para la alimentación humana.

        .row.align-items-center
            .col-12.col-md-4.text-center
                img.img-fluid(src="assets/images/pages/img1.svg", style="max-width: 100%")
            .col-12.col-md-8
                .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-4.rounded
                    .col-12
                        p La contaminación no orgánica se produce cuando el agua lleva disueltas sustancias tóxicas, producidas por las industrias, minas y el uso de pesticidas en la agricultura. Estas sustancias son liberadas sin purificar en los ríos y lagos, causando daño a los seres vivos que los habitan y también a las personas que se alimentan de los peces extraídos de ellos.

                        p La contaminación no orgánica tiene graves consecuencias para la agricultura y la ganadería de la zona: el agua no puede utilizarse para el riego de los cultivos ni para dar de beber a los animales.

        p.mt-4 Extraído del documento: ORGANIZACIÓN DE LAS NACIONES UNIDAS PARA LA AGRICULTURA Y LA ALIMENTACIÓN FAO (1996) Ecología y enseñanza rural (Pag. 5). <a href="http://www.fao.org/3/w1309s/w1309s06.htm#TopOfPage" target="_blank">http://www.fao.org/3/w1309s/w1309s06.htm#TopOfPage</a>

        p Ver el siguiente video: contaminación del agua, para ampliar la información:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/0jFVB1rmfhg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    section.my-6#actividad-1
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5
    
    br#bases3

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.2 Bases conceptuales, características y tipos de contaminación en el suelo
        
        .row.align-items-center.justify-content-center.mt-4
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 100%")
        
        .sub-line
            h3 Definición
        
        .row.align-items-center.justify-content-center.mt-4
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img14.png", style="max-width: 100%")
        
        .row.justify-content-around.mt-5.m-2
            .col-12.col-md-5.bg-color2.p-4.rounded
                p El suelo es un recurso natural no renovable compuesto por sustancias sólidas (materia orgánica, organismos y minerales), agua y aire.
            
            .col-12.col-md-5.bg-color2.p-4.rounded.m-2
                p La proporción en la que se encuentren estos componentes le confiere al suelo propiedades físicas, químicas y biológicas propias.

        .row.align-items-center.justify-content-center.mt-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img15.png", style="max-width: 100%")
        
        .row.mt-5.justify-content-center
            .col-12.col-md-10.bg-color2.p-4.rounded
                p La productividad de un suelo no sólo depende de los contenidos nutrimentales sino también de las características físicas del mismo, ya que como es bien conocido, el desarrollo de la parte aérea dependerá del desarrollo de la raíz.

                p Las propiedades físicas de un suelo son el resultado de la interacción que se origina entre las distintas fases del mismo (suelo, agua y aire) y la proporción en la que se encuentran cada una de estas. 

                p La condición física de un suelo determina su capacidad de sostenimiento, facilidad para la penetración de raíces, circulación del aire, capacidad de almacenamiento de agua, drenaje, retención de nutrientes, entre otros factores.

        .sub-line
            h3 Propiedades de los suelos
        
        .header-arrow.my-5
            h3.text-center Las propiedades físicas, químicas y biológicas del suelo son:
        
        .row.align-items-center.justify-content-center.mt-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img16.png", style="max-width: 100%")
        
        p.mt-5 Ver el siguiente video, para ampliar la información:

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HxR-HogXOeY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .sub-line
            h3 Contaminación del suelo
        
        .row.align-items-center.justify-content-center.mt-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img17.png", style="max-width: 100%")
        
        p.mt-5 Se define como el aumento en la concentración de compuestos químicos, de origen antropogénico, que provoca cambios perjudiciales y reduce su empleo potencial, tanto por parte de la actividad humana, como por la naturaleza.

        p Para ampliar la información visualice el siguiente video:  contaminación del suelo.

        .row.justify-content-center.mt-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/dpqDxUK64cs', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    section.my-6#actividad-2
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5
    
    br#bases4

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.3 Bases conceptuales, características y tipos de contaminación en el aire por olor
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img18.png", style="max-width: 100%")
        
        .sub-line
            h3 Definición del aire
        
        p Es el resultado de la mezcla de gases que componen la atmósfera terrestre y que gracias a la fuerza de gravedad se encuentran sujetos al planeta Tierra. El aire, así como sucede con el agua, es un elemento fundamental y esencial para asegurar la continuidad de la vida en el planeta. Su composición es sumamente delicada y las proporciones de las sustancias que lo integran resultan ser variables: Nitrógeno, Oxígeno, Vapor de agua, Ozono, dióxido de carbono, Hidrógeno y gases nobles como pueden ser el Criptón o el Argón.

        .sub-line
            h3 Composición del aire
        
        p Es el resultado de la mezcla de gases que componen la atmósfera terrestre y que gracias a la fuerza de gravedad se encuentran sujetos al planeta TieTxt1: Los componentes fundamentales del aire son el nitrógeno N2 (78,1%) y el oxígeno O2 (20,9%), los que en conjunto alcanzan un 99% en volumen de aire seco.

        p Como componentes secundarios se encuentran presentes el argón Ar, el dióxido de carbono CO2, el neón Ne, el helio He, el kriptón Kr, el hidrógeno H2, el metano CH4 y el xenón Xe. A nivel de trazas (cantidades muy pequeñas) y dependiendo de la ubicación geográfica, se encuentran presentes compuestos como monóxido de nitrógeno NO, ozono O3, dióxido de azufre SO2, dióxido de nitrógeno NO2, amoníaco NH3 y monóxido de carbono CO.

        p Las proporciones de estos gases se pueden considerar más o menos constantes hasta una altura aproximada de 25 Km, aunque la concentración de cada uno disminuye con la altura, excepto en los casos de componentes minoritarios como el ozono O3 y los compuestos de nitrógeno, cloro y azufre.

        p Además, existen dos componentes que siempre se encuentran presentes en el aire en cantidades variables: el agua, en sus tres estados (sólido, líquido y gas) y el polvo atmosférico (humo, sal, arena fina, cenizas, esporas, polen, microorganismos, etc). La concentración de vapor de agua puede variar desde 0% en zonas desérticas hasta un 5 a 6% en zonas tropicales.

        .sub-line
            h3 Propiedades de aire

        .row.align-items-center.justify-content-center.mt-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img19.png", style="max-width: 100%")

        .sub-line
            h3 Composición del aire puro

        .header-arrow.my-5
            h3.text-center De acuerdo con la altitud, composición, temperatura y otras características, la atmósfera que rodea a la Tierra y comprende las siguientes capas o regiones:

        .row.align-items-center.justify-content-center
            .col-12.col-md-10.bg-color2.p-4.mx-0.mt-4.rounded
                p #[b Troposfera.] Alcanza una altura media de 12 km. (es de 7km. En los polos y de 16km. En los trópicos) y en ella encontramos, junto con el aire, polvo, humo y vapor de agua, entre otros componentes.
            
            .col-12.col-md-10.bg-color2.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Estratosfera.] Zona bastante mente fría que se extiende de los 12 a los 50km de altura; en su capa superior (entre los 20 y los 50km) contiene gran cantidad de ozono (O3), el cual es de enorme importancia para la vida en la tierra por que absorbe la mayor parte de los rayos ultravioleta del sol.
            
            .col-12.col-md-10.bg-color2.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Mesosfera.] Zona que se sitúa entre los 50 y los 100km de altitud; su temperatura media es de 10 °C; en ella los meteoritos adquieren altas temperaturas y en su gran mayoría se volatilizan y consumen.
            
            .col-12.col-md-10.bg-color2.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Ionosfera.] Empieza después de los 100km. Y va desapareciendo gradualmente hasta los 500km de altura. En esta región, constituida por oxígeno (02), la temperatura aumenta hasta los 1000°C; los rayos X y ultravioleta del Sol ionizan el aire enrarecido, produciendo átomos y moléculas cargados eléctricamente (que reciben el nombre de iones) y electrones libres.
            
            .col-12.col-md-10.bg-color2.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Exosfera.] Comienza a 500km. de altura y extiende más allá de los 1000km; está formada por una capa de helio y otra de hidrogeno. Después de esa capa se halla una enorme banda de radiaciones (conocida como magnetosfera) que se extiende hasta unos 55000km de altura, aunque no constituye propiamente un estrato atmosférico.
        
        .row.align-items-center.justify-content-center.mt-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img20.png", style="max-width: 100%")
        
        p.mt-5 Para profundizar haga clic en el enlace.
        
        section
            .row
                .col-auto
                    a(href="https://estrucplan.com.ar/propiedades-fisicas-y-quimicas-del-aire/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Propiedades físicas y químicas del aire
        
        .sub-line
            h3 Contaminacion atmosferica
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img21.png", style="max-width: 80%")
        
        p.mt-5 La contaminación del aire es uno de los problemas ambientales más importantes, y es resultado de las actividades del hombre. Las causas que originan esta contaminación son diversas, pero el mayor índice es provocado por las actividades industriales, comerciales, domésticas y agropecuarias.

        .row.align-items-center.justify-content-center
            .col-12.col-md-10.bg-color1.p-4.mx-0.mt-4.rounded
                p #[b NO OLVIDES.] Que el aire se puede contaminar por:
                p Gases contaminantes, pero también por olores nauseabundos y ruido porque es el medio en donde se manifiestan estos.

        .sub-line
            h3 Contaminación por olor
        
        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b Introducción
        
        p Cuando hablamos del olor básicamente es esa sensación que da como respuesta la recepción de un estímulo por nuestro sistema olfativo, esta reacción se genera por una variedad de gases vapores que dependen en gran parte de la volatilidad de las sustancias presentes en el aire que respiramos.

        p Uno de los sentidos que por excelencia tiene gran complejidad es el sentido del olfato que al igual que el gusto hacen parte de los sentidos qué involucran quimiorreceptores los cuales son estimulados por sustancias químicas presentes en el aire, por ende, las sensaciones relacionadas que producen olores que en ocasiones se vuelven ofensivos se convierten en contaminantes que perturban a las comunidades y la sociedad.

        p En esta sección veremos los conceptos asociados a olores ofensivos, normatividad, protocolos y equipos que se emplean en la medición de este parámetro que se ha convertido en la actualidad en uno de los contaminantes más significativos que en gran medida afecta al ser humano. 

        p Apreciado aprendiz, para contextualizarse en el tema sobre olores ofensivos y sus consecuencias, lo invito a visualizar la siguiente noticia:

        section
            .row.justify-content-center
                .col-auto
                    a(href="https://orlfaes.com/11-curiosidades-sobre-olfato/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p 11 curiosidades sobre el olfato
        
        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b El sentido del olfato
        
        .row.align-items-center.justify-content-center.mt-5
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img22.png", style="max-width: 100%")
        
        p.mt-5 Estas sustancias ingresan a través de los orificios nasales, dentro de los cuales se encuentran con una gran cantidad de pelos que filtran las partículas que pueden resultar dañinas al sistema respiratorio, eliminándose muchas de ellas mediante mucosa nasal. 

        p Los olores son percibidos y se genera una respuesta en nuestro cerebro: nos abre el apetito, nos relaja, generan rechazo y en algunos casos nos advierten situaciones peligrosas.

        p Para saber más, haga clic en el siguiente enlace.

        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="https://www.ceafa.es/es/que-comunicamos/noticias/la-importancia-del-sentido-del-olfato" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p La importancia del sentido del olfato
        
        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b ¿Cómo funciona el sentido del olfato?
        
        .header-arrow.my-5
            h3.text-center El sentido del olfato, al igual que el sentido del gusto, es un sentido químico. Se denominan sentidos químicos porque detectan compuestos químicos en el ambiente, con la diferencia de que el sentido del olfato funciona a distancias mucho más largas que el sentido del gusto. El proceso del olfato sigue más o menos estos pasos:
        
        .list.align-items-start
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Las moléculas del olor en forma de vapor (compuestos químicos) que están flotando en el aire llegan a las fosas nasales y se disuelven en las mucosidades (que se ubican en la parte superior de cada fosa nasal).
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 En el epitelio olfatorio, las células receptoras especializadas, también llamadas neuronas receptoras del olfato, detectan los olores. Estas neuronas son capaces de detectar miles de olores diferentes.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Las neuronas receptoras del olfato transmiten la información a los bulbos olfatorios, que se encuentran en la parte de atrás de la nariz.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Los bulbos olfatorios tienen receptores sensoriales que en realidad son parte del cerebro que envían mensajes directamente a:
                
                ul.mt-3
                    li Los centros más primitivos del cerebro donde se estimulan las emociones y memorias. (estructuras del sistema límbico)
                    li.mt-2 Los centros “avanzados” donde se modifican los pensamientos conscientes. (neocorteza)

                p Estos centros cerebrales perciben olores y tienen acceso a recuerdos que nos traen a la memoria personas, lugares o situaciones relacionadas con estas sensaciones olfativas.
        
        p Para complementar la información diríjase, al siguiente enlace.

        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="http://www.tsbvi.edu/seehear/summer05/smell-span.htm" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p El poderoso sentido del olfato
        
        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b Las partes de la nariz
        
        p La nariz es la sección más importante que relaciona el sentido del olfato, ella se compone de las siguientes partes:

        .header-arrow.my-5
            h3.text-center Partes principales de la nariz:

        .row.align-items-center.justify-content-center
            .col-12.col-md-10.bg-color1.p-4.mx-0.mt-4.rounded
                p #[b Nariz:]
        
                p Posee dos compartimientos que se encuentran divididos por el tabique nasal, donde se muestran dos orificios de salida que se le conoce como narinas. En su otro lado este órgano finaliza en unas aberturas que tienen conexión directa con la faringe.
        
        .row.align-items-center.justify-content-center
            .col-12.col-md-10.bg-color1.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Fosas nasales:]
                
                p Se trata de las dos cavidades que se encuentran sobre la boca.

            .col-12.col-md-10.bg-color1.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Nervio olfativo:]

                p Localizados en el interior de la cavidad craneana donde cada nervio al ensancharse crea un bulbo olfatorio. Este nervio es totalmente sensitivo Se encarga de transmitir los impulsos olfatorios desde la nariz hasta el sistema nervioso central.
        
            .col-12.col-md-10.bg-color1.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Bulbo olfativo:]
                
                p También se le conoce como lóbulo olfativo. Se trata de una parte del cerebro donde todas señales sensoriales son interpretadas.

            .col-12.col-md-10.bg-color1.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Cavidad nasal:]
                
                p Refiere a la parte interior de la nariz, la cual está cubierta por una pared compuesta de mucosa, encargada de producir el moco. Esta se encarga de mantener la humedad en la cavidad nasal para así poder impedir la entrada de suciedad, polvo y de ciertas partículas que pueden causar daño si acceden a los pulmones

            .col-12.col-md-10.bg-color1.p-4.mx-0.mt-4.rounded.mt-5
                p #[b Receptores olfativos:]
                
                p Estos se hallan en la parte superior de las fosas nasales, aquí es donde el cornete superior es cubierto por la pituitaria amarilla y se crea la conexión con el bulbo olfatorio. Tienen como función detectar los olores.
        
        .row.align-items-center.justify-content-center
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img23.png", style="max-width: 100%")
        
        p Para complementar la información diríjase, al siguiente enlace.

        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="https://www.partesdel.com/olfato.html" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Partes del olfato
        
        .row.align-items-center.justify-content-center
            .col-12.col-md-10.bg-color2.p-4.mx-0.mt-4.rounded.mt-5
                p #[b ¿SABIAS QUÉ?]
                
                p Según el Portal Orlfaes.com, el sentido del olfato está directamente conectado con el cerebro y es capaz de hacernos recordar emociones, eventos…

        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b Definiciones
        
        .header-arrow.my-5
            h3.text-center Para comprender los conceptos y metodologías que se van a profundizar en esta unidad, debemos incorporar las siguientes definiciones:
        
        .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-5.rounded
            .col-12
        
                #accordionExample.accordion
                    .card
                        #heading1.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
                                    h2.mb-0.collapsable-title Olor.
                        #collapse1.collapse.show(aria-labelledby='heading1', data-parent='#accordionExample')
                            .card-body
                                | propiedad organoléptica perceptible por el órgano olfativo cuando inspira determinadas sustancias volátiles. (Resolución 1541 de 2013)
                    .card
                        #heading2.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2')
                                    h2.mb-0.collapsable-title Olor ofensivo.
                        #collapse2.collapse(aria-labelledby='heading2', data-parent='#accordionExample')
                            .card-body
                                | Es el olor generado por sustancias o actividades industriales, comerciales o de servicio, que produce fastidio, aunque no cause daño a la salud humana. (Decreto 948 de1995)
                    .card
                        #heading3.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='true', aria-controls='collapse3')
                                    h2.mb-0.collapsable-title Sustancia de olor ofensivo.
                        #collapse3.collapse(aria-labelledby='heading3', data-parent='#accordionExample')
                            .card-body
                                | Es aquella que, por sus propiedades organolépticas, composición y tiempo de exposición puede causar olores desagradables. (Resolución 1541 de 2013)
                    .card
                        #heading4.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='true', aria-controls='collapse4')
                                    h2.mb-0.collapsable-title Emisión.
                        #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                            .card-body
                                | Transferencia de contaminantes de la atmósfera a un receptor. Se entiende por inmisión la acción opuesta a la emisión. Aire inmiscible es el aire respirable al nivel de la tropósfera. (Decreto 948 de 1995)
                    .card
                        #heading5.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='true', aria-controls='collapse5')
                                    h2.mb-0.collapsable-title Tono hedónico.
                        #collapse5.collapse(aria-labelledby='heading5', data-parent='#accordionExample')
                            .card-body
                                | Factor subjetivo que permite definir si un olor es agradable, desagradable, nauseabundo, etc. (NTC 6049-4:2014)
                    .card
                        #heading6.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='true', aria-controls='collapse6')
                                    h2.mb-0.collapsable-title Umbral.
                        #collapse6.collapse(aria-labelledby='heading6', data-parent='#accordionExample')
                            .card-body
                                | Valor mínimo de una magnitud a partir del cual se produce un efecto determinado. (Resolución 1541 de 2013)
                    .card
                        #heading7.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='true', aria-controls='collapse7')
                                    h2.mb-0.collapsable-title Umbral de molestia.
                        #collapse7.collapse(aria-labelledby='heading7', data-parent='#accordionExample')
                            .card-body
                                | Es la concentración a la que una pequeña parte de la población (< 5%) manifiesta molestias durante un periodo corto de tiempo. Dado que la sensación de molestia puede estar influenciada por factores sicológicos y socioeconómicos un umbral de molestia no puede definirse solo con base en la concentración. (Resolución 1541 de 2013)
                    .card
                        #heading8.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse8', aria-expanded='true', aria-controls='collapse8')
                                    h2.mb-0.collapsable-title Umbral de tolerancia.
                        #collapse8.collapse(aria-labelledby='heading8', data-parent='#accordionExample')
                            .card-body
                                | El umbral de tolerancia es equivalente al umbral de molestia. (Resolución 1541 de 2013)
                    .card
                        #heading9.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse9', aria-expanded='true', aria-controls='collapse9')
                                    h2.mb-0.collapsable-title Unidad de olor.
                        #collapse9.collapse(aria-labelledby='heading9', data-parent='#accordionExample')
                            .card-body
                                | Es la cantidad de (una mezcla de) sustancias olorosas presentes en un metro cúbico de gas oloroso (en condiciones normales 1 atmósfera de presión y 0 °C de temperatura) origina una respuesta fisiológica en el umbral del panel. (Resolución 1541 de 2013)
                    .card
                        #heading10.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse10', aria-expanded='true', aria-controls='collapse10')
                                    h2.mb-0.collapsable-title Unidad de olor europea.
                        #collapse10.collapse(aria-labelledby='heading10', data-parent='#accordionExample')
                            .card-body
                                | Cantidad de sustancia olorosa qué coma cuando se evapora en 1 metro cúbico de gas neutro en condiciones normales, origina una respuesta fisiológica de un panel (umbral de detección) equivalente al que origina una masa de olor de referencia europea more evaporada en 1 metro cúbico de gas neutro en condiciones normales. (Resolución 1541 de 2013)
                    .card
                        #heading11.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse11', aria-expanded='true', aria-controls='collapse11')
                                    h2.mb-0.collapsable-title Olfatometría.
                        #collapse11.collapse(aria-labelledby='heading11', data-parent='#accordionExample')
                            .card-body
                                | Técnica sensorial de medición de olores que se usa para determinar el grado de molestia que pueden ocasionar ciertos olores a la población. (<a href="https://es.wikipedia.org/" target="_blank">https://es.wikipedia.org/</a>)
        
        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12
                p #[b ¿SABIAS QUÉ?]
                p Todos los olores son potencialmente ofensivos y que dependen específicamente de: Frecuencia , intensidad, duración , ofensividad ,localización.

        p.mt-5 Tomado de:

        section.mt-4
            .row
                .col-auto
                    a(href="media/documentos/Anexo_1_Presentacion_olores.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Resolución 1541 de noviembre 12 de 2013
        
        p.mt-5
            span
                i.fa.fa-angle-right.mr-2
                b Normatividad 
        
        p La normatividad en olores es un aspecto de compleja regulación debido a que las molestias que producen los olores se convierten de cierta manera en conceptos muy subjetivos y dependen en cierta manera de la percepción individual y de las personas que están expuestas al olor con diferentes niveles de sensibilidad y percepción.

        p #[b Marco legal colombiano.]

        p Es necesario conocer las leyes y nomas representativas que regulan los parámetros relacionados con los olores ofensivos. Haga clic en cada folio para conocerlas:

        .container.timeline__wrapper
                .row.justify-content-center.px-sm-2.px-md-5.py-5
                    .col-12.col-lg-11
                        section
                            .timeline-card-wrapper.tl--borders.pt-5
                                .timeline-card
                                    .timeline-card__head
                                        h3 Decreto – Ley 2811 de 1974
                                    .timeline-card__body
                                        p Código Nacional de Recursos Naturales Renovables y de Protección al Medio Ambiente. (Art 75 – Disposiciones para prevenir la contaminación Atmosférica)
                                .timeline-card
                                    .timeline-card__head
                                        h3 Decreto 948 de 1995
                                    .timeline-card__body
                                        p Reglamento de prevención y control de la contaminación atmosférica y la protección de la calidad del aire. (Art 1, 5 y 16: competencia de la autoridad ambiental para fijar Norma de evaluación y emisión de olores ofensivos)
                                .timeline-card
                                    .timeline-card__head
                                        h3 Resolución 909 de 2008
                                    .timeline-card__body
                                        p Normas y estándares de emisión admisibles de contaminantes a la atmósfera por fuentes fijas y se dictan otras disposiciones. (Art 35 a 40: Estándares de emisión admisibles de contaminantes al aire para instalaciones de tratamiento térmico de subproductos de animales)
                                .timeline-card
                                    .timeline-card__head
                                        h3 Resolución 610 de 2010
                                    .timeline-card__body
                                        p Modificación de la norma nacional de calidad del aire o nivel de inmisión. (Art 3 - Niveles máximos permisibles para contaminantes no convencionales con efectos carcinogénicos y umbrales para las principales sustancias generadoras de olores ofensivos)
        
        p Teniendo en cuenta que en Colombia no existía una normativa específica en olores ofensivos, el Ministerio de Ambiente y Desarrollo Sostenible expidió la #[b Resolución 1541 de 2013], como herramienta versátil para la gestión de la contaminación por olores ofensivos que aborda la problemática a partir de la valoración objetiva de la existencia de una problemática por olores con personas residentes en la presunta área de afectación, establece métodos de medición por técnicas analíticas y la prevención de la generación de olores a través de los Planes de Reducción del Impacto por Olores – PRIO. Este contexto, dio origen a lo que se conoce hoy como la NORMA NACIONAL DE OLORES OFENSIVOS.

        .container.timeline__wrapper
                .row.justify-content-center.px-sm-2.px-md-5.py-5
                    .col-12.col-lg-11
                        section
                            .timeline-card-wrapper.tl--borders.pt-5
                                .timeline-card
                                    .timeline-card__head
                                        h3 Resolución 1543 de 2013
                                    .timeline-card__body
                                        p por la cual se establecen los límites permisibles de calidad del aire o de inmisión coma el procedimiento para la evaluación de actividades que generan olores ofensivos y se dictan otras disposiciones.

        p Seguidamente el ministerio adopta la reglamentación y adopta los nuevos procedimientos de medición con la incorporación #[b Resolución 2087 de 2014], por la cual se adopta el Protocolo para el monitoreo, control y vigilancia de olores ofensivos.

        p Acabas de ver la historia cronológica de la normativa de olores en Colombia te invitamos a seguir investigando sobre los nuevos avances tecnológicos y normativos en este campo, para ampliar la información visite la siguiente página:

        section.mt-4
            .row
                .col-auto
                    a(href="https://www.minambiente.gov.co/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Minambiente
    
    section.my-6#actividad-3
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5
    
    br#bases5

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.4 Bases conceptuales, características y tipos de contaminación en el aire por ruido
        
        .sub-line
            h3 Introduccion
        
        p El ruido ha sido considerado un contaminante y un problema ambiental importante que afecta a el ser humano y al ecosistema que nos rodea, sin embargo el ruido hace parte de nuestra cotidianidad por la exposición directa e indirecta en actividades al tráfico vehicular, procesos productivos, actividades sociales, obras civiles entre otros, siendo impactantes en gran medida  para la salud  física y mental , de acuerdo a la Organización Mundial de la salud (OMS) en 1986 declaró que la pérdida auditiva por exposición excesiva ruido era una de las enfermedades irreversibles más frecuentes en el ser humano pero los efectos nocivos no solamente afectan la salud física sino que de cierta manera genera consecuencias importantes sobre la salud psicológica y emocional.

        .row.align-items-center
            .col-12.col-md-6
                p #[b Afectaciones a la salud por exposición al ruido.]
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Estrés.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Afectación o perturbación del sueño.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Depresión, agresividad, ira.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Perdida o disminución auditiva.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Mala comunicación.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Perturbaciones en el sistema nervioso.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Socioacusia.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Problemas cardiovasculares.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Ineficacia laboral.
            .col-12.col-md-6.text-center
                img.img-fluid.my-4(src="assets/images/pages/img24.png", style="max-width: 80%")
        
        p En este espacio veremos las principales generalidades del ruido como: conceptos, equipos, metodologías, normatividad, entre otros que nos facilitaran el estudio y apropiación de los conocimientos para aplicar en nuestro proyecto formativo.
        
        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12
                p #[b DATO CURIOSO]

                p Sabías que, España fue el primer país de Europa que emitió una sentencia penal por contaminación acústica.  ¡Fue sentenciado a cuatro años de prisión al propietario de un bar por provocar ruidos que impedían el descanso de los vecinos!!!!; si quiere profundizar en la noticia, puede hacer clic el enlace:

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.20minutos.es/noticia/102242/0/bar/ruido/carcel/#" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Condenan a cuatro años de cárcel al dueño de un bar por causar ruido

        .sub-line
            h3 Historia de la reglamentación del ruido en Colombia
        
        p Para conocer la reglamentación de ruido en Colombia explore la línea en cada nodo.

        .container.timeline__wrapper
                .row.justify-content-center.px-sm-2.px-md-5.py-5
                    .col-12.col-lg-11
                        section
                            .timeline-card-wrapper.tl--borders.pt-5
                                .timeline-card
                                    .timeline-card__head
                                        h3 1983
                                    .timeline-card__body
                                        p La primera reglamentación en Colombia sobre el ruido data del año 1983. Se trata de la resolución 8321 del Ministerio de Salud en la cual se establecen normas sobre la protección y conservación de la salud auditiva, buscando el bienestar de la población debido a la producción y emisión de ruido. (Fuente: Revista Ingenierías Universidad de Medellín, vol. 10, No. 18, pp. 51-60 - ISSN 1692-3324 - enero-junio de 2011/148 p. Medellín, Colombia)
                                .timeline-card
                                    .timeline-card__head
                                        h3 1996
                                    .timeline-card__body
                                        p Posteriormente La ISO 1996 - Acústica – Descripción y Medición del Ruido Ambiental. Se estableció la norma básica en la evaluación del ruido ambiental, sirviendo de referencia en este tema. Se divide en tres partes:

                                        ul
                                            li.mb-2 ISO 1996 Parte 1 -1982: Cantidades básicas y procedimiento. La NTC 3522, es la norma técnica colombiana idéntica a la norma internacional ISO 1996-1 y se titula “Acústica. Descripción, medición y evaluación del ruido ambiental. Parte 1: Cantidades básicas y procedimientos de evaluación”.
                                            li.mb-2 ISO 1996 Parte 2 -1987: Adquisición de datos pertinentes al uso del suelo, en 1998 (fue modificada). La NTC 3520, es la norma técnica colombiana idéntica a la norma internacional ISO 1996-2.
                                            li ISO 1996 Parte 3 1987: Aplicación a los límites de ruido. Definen la terminología básica incluyendo el parámetro Nivel de Evaluación y describe las prácticas recomendadas para evaluar el ruido ambiental. (Fuente: norma técnica NTC colombiana 3522 2005-12-22)

                                .timeline-card
                                    .timeline-card__head
                                        h3 2006
                                    .timeline-card__body
                                        p En el año 2006 se sanciona la resolución 627 del Ministerio de Ambiente, Vivienda y Desarrollo Territorial, en la cual se establece la norma nacional de emisión de ruido para todo el territorio colombiano, y se fijan los niveles máximos permisibles de emisión de ruido. (Fuente: Revista Ingenierías Universidad de Medellín, vol. 10, No. 18, pp. 51-60 - ISSN 1692-3324 - enero-junio de 2011/148 p. Medellín, Colombia)
                                .timeline-card
                                    .timeline-card__head
                                        h3 2011
                                    .timeline-card__body
                                        p Posteriormente se presenta El PROTOCOLO PARA MEDIR LA EMISIÓN DE RUIDO GENERADO POR FUENTES FIJAS en el cual plasma las propuestas para la implementación de los lineamientos dados por la resolución 627 del Ministerio de Ambiente, Vivienda y Desarrollo Territorial, e introduce, a su vez, un conjunto de mejoras en lo relativo a las mediciones de emisión de ruido. (Fuente: Revista Ingenierías Universidad de Medellín, vol. 10, No. 18, pp. 51-60 - ISSN 1692-3324 - enero-junio de 2011/148 p. Medellín, Colombia)
                                .timeline-card
                                    .timeline-card__head
                                        h3 Actualmente
                                    .timeline-card__body
                                        p En la actualidad Los métodos y procedimientos de muestreo y de cálculo que se emplean en Colombia son definidos por la Resolución 627 de abril de 2006 Ministerio de Ambiente y Desarrollo Sostenible. (MADS)

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12
                p #[b Conceptos y definiciones resolución 627 de 2006 de MAVDT]

                p Para comprender los conceptos y metodologías que se van a profundizar en esta unidad, debemos incorporar las definiciones presentes en la resolución 627 de 2006 de MAVDT. Para ver a la información organice las piezas del rompecabezas. Solo tome las piezas y llévelas al sito que el corresponda en el cuadro que está limpio.

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Decibel (dB):] décima parte del Bel, razón de energía, potencia o intensidad que cumple con la siguiente expresión: Log R = 1dB/10
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b dB(A):] unidad de medida de nivel sonoro con ponderación frecuencial (A). Donde R= razón de energía, potencia o intensidad.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Emisión de Ruido:] es la presión sonora que, generada en cualesquiera condiciones, trasciende al medio ambiente o al espacio público.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Fuente:] elemento que origina la energía mecánica vibratoria, definida como ruido o sonido. Puede considerarse estadísticamente como una familia de generadores de ruido que pueden tener características físicas diferentes, distribuidas en el tiempo y en el espacio.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Frecuencia (f):] número de oscilaciones por segundo (Unidad SI: 1/s = Hz, Hertzio). La frecuencia de un sonido y de una onda acústica en general, es una magnitud física muy importante pues:

                        ul
                            li.mb-2 El oído humano de un adulto normal solo es capaz de detectar ondas acústicas entre 20 y 20000 Hz.
                            li El comportamiento acústico de los materiales y soluciones constructivas depende mucho de la frecuencia.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Mapas de ruido:] se entiende por mapa de ruido, la representación de los datos sobre una situación acústica existente o pronosticada en función de un indicador de ruido, en la que se indica la superación de un valor límite, el número de personas afectadas en una zona dada y el número de viviendas, centros educativos y hospitales expuestos a determinados valores de ese indicador en dicha zona.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Norma de emisión de ruido:] es el valor máximo permisible de presión sonora, definido para una fuente, por la autoridad ambiental competente, con el objeto de cumplir la norma de ruido ambiental.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Norma de ruido ambiental:] Es el valor establecido por la autoridad ambiental competente, para mantener un nivel permisible de presión sonora, según las condiciones y características de uso del sector, de manera tal que proteja la salud y el bienestar de la población expuesta, dentro de un margen de seguridad.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Onda acústica:] es la propagación (onda) de una vibración en un determinado medio material.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Pistófono:] es una pequeña cavidad provista de un pistón con movimiento de vaivén y desplazamiento medible, que permite establecer una presión conocida en el interior de la cavidad. Generalmente utilizado para efectuar calibraciones de sonómetros.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Presión sonora:] es la diferencia entre la presión total instantánea en un punto cuando existe una onda sonora y la presión estática en dicho punto.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Sonido:] sensación percibida por el órgano auditivo, debida generalmente a la incidencia de ondas de comprensión (longitudinales) propagadas en el aire. Por extensión se aplica el calificativo del sonido, a toda perturbación que se propaga en un medio elástico, produzca sensación audible o no.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p #[b Sonómetro:] es un instrumento de medición de presión sonora, compuesto de micrófono, amplificador, filtros de ponderación e indicador de medida, destinado a la medida de niveles sonoros, siguiendo unas determinadas especificaciones.
    
    section.my-6#actividad-4
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5