.container#alistamiento

    .header-ecored
        h1 4. Alistamiento de la toma de muestras

    br#introduccion1

    .jumbotron.bg-white

        .row.align-items-center.justify-content-center
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img25.png", style="max-width: 100%")

        .subtitulo-guion.mt-5
            h2 4.1 Introducción

        p.mt-5 El muestreo de un sitio potencialmente alterado por sustancias inorgánicas y/o orgánicas tiene como objetivo la obtención de información sobre la concentración de tales sustancias en el medio sea agua, suelo o aire de manera que pueda establecerse una comparación con los niveles de referencia propuestos para la protección de la salud humana y los ecosistemas. 

        p La importancia del muestreo radica en que la información sobre sustancias que alteran la calidad del medio ha de ser significativa y fiable, de manera que la toma de decisiones sobre el sitio potencialmente alterado o contaminado sea adecuada a su particular problemática.  

        p Los grados de significación y fiabilidad de la información a obtener en la muestra es de gran prioridad, para evitar alteraciones en los resultados sea por mala toma de la muestra o mala preservación de la misma, por eso es importante que la adecuación del muestreo debe estar a las peculiares características ambientales de cada sitio. 

        p Esto es así porque dependiendo del muestreo, el valor estadístico obtenido para cada contaminante reflejará con mayor o menor precisión el valor real existente en el sitio. 

        p Por tanto, la selección del procedimiento de muestreo es crucial, y de él depende en gran medida que las decisiones tomadas sobre un medio sea agua, suelo o aire potencialmente alterado en su calidad sean eficaces para abordar y solucionar su problemática.

        .header-arrow.my-5
            h3.text-center Para realizar la toma de muestras es importante llevar a cabo los siguientes pasos:
        
        .row.align-items-center.justify-content-center.mt-6
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img26.png", style="max-width: 100%")
        
        p.mt-4 Garantizando la trazabilidad y custodia de la muestra en este proceso.

    br#conceptos

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.2 Conceptos básicos
        
        p.mt-5 De acuerdo al Instituto nacional de salud (2007) Manual de Instrucciones para la Toma, Preservación y Transporte de Muestras de Agua de Consumo Humano para Análisis de Laboratorio algunos conceptos básicos a tener en cuenta en el alistamiento de muestras son:

        p #[b Muestra:] toma puntual en los puntos de muestreo concertados, que refleja la composición física, química y microbiológica representativa del momento, para el proceso de vigilancia de la Autoridad Sanitaria.

        p #[b Muestreo:] proceso de toma de muestras que son analizadas en laboratorios para obtener información sobre la calidad del agua del sitio concertado en que fueron tomadas.

        p #[b Cadena de custodia:] proceso por medio del cual se mantiene una muestra bajo posesión física o control durante su ciclo de vida completo, es decir, desde que se toma hasta que se desecha.

        p Para saber más, consulte:

        section
            .row.justify-content-center
                .col-auto
                    a(href="http://biblioteca.sena.edu.co/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Técnicas de muestreo, toma de muestras, preservación y manejo para el componente agua (NTC 5667), suelo (NTC 4113) y aire (NTC 5375).