.container#equipos

    .header-ecored
        h1 6. Equipos y materiales para la toma de muestras y análisis in situ
    
    br#introduccion2

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.1 Introducción
        
        p Los equipos deben ser calibrados por lo general anualmente, pero eso depende de cada equipo, a través de un tercero que certifica su buen estado y funcionamiento el cual debe estar acreditado por la ONAC; el laboratorio debe contar con la hoja de vida del equipo en donde se establezca su plan de verificación, mantenimientos preventivos y correctivos, hoja de seguridad y ficha técnica del fabricante, para garantizar su uso adecuado y confiemos en los datos del equipo.

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white.mb-0 #[b Para la Toma de Muestras]
                        tbody
                            tr
                                td.table3
                                    p.mb-0 Recipientes plásticos para análisis físico químico de 1lt.
                            tr
                                td.table2
                                    p.mb-0 Recipiente para análisis microbiológico 500ml.
                            tr
                                td.table3
                                    p.mb-0 Recipiente de vidrio transparentes o ámbar dependiendo del análisis físico-químicos de 1lt.
                            tr
                                td.table2
                                    p.mb-0 Erlenmeyer para la toma de metales.
                            tr
                                td.table3
                                    p.mb-0 Erlenmeyer para la toma de oxígeno disuelto.
                            tr
                                td.table2
                                    p.mb-0 Erlenmeyer para la toma de fosfatos.
                            tr
                                td.table3
                                    p.mb-0 Envases esterilizados para bacteriológico.
                            tr
                                td.table2
                                    p Frascos de vidrio para grasas.
                            tr
                                td.table3
                                    p.mb-0 Duplicado o blanco.
                            tr
                                td.table2
                                    p.mb-0 Recipientes de refrigeración.
                            tr
                                td.table3
                                    p.mb-0 Frasco lavador con agua destilada.
                            tr
                                td.table2
                                    p.mb-0 Vasija recolectora.
                            tr
                                td.table3
                                    p.mb-0 Gotero.
                            tr
                                td.table2
                                    p Embudo.
                            tr
                                td.table3
                                    p.mb-0 Bolsa pequeña de basura.
                            tr
                                td.table2
                                    p.mb-0 Reactivos para preservación de las muestras metales.
                            tr
                                td.table3
                                    p.mb-0 Flameador.
                            tr
                                td.table2
                                    p.mb-0 Jabón libre de fosfato.
                            tr
                                td.table3
                                    p.mb-0 Soporte metálico.
                            tr
                                td.table2
                                    p.mb-0 Neveras de icopor o de plástico.
                            tr
                                td.table3
                                    p.mb-0 Cinta de enmascarar.
                            tr
                                td.table2
                                    p.mb-0 Bolsa pequeña de basura.
                            tr
                                td.table3
                                    p.mb-0 Bolsas whirl-pak de 250ml.
                            tr
                                td.table2
                                    p.mb-0 Toallas o papel absorbente.
                            tr
                                td.table3
                                    p.mb-0 Papel aluminio.
                            tr
                                td.table2
                                    p.mb-0 Material debidamente rotulado. (frascos y recipientes)
                            tr
                                td.table3
                                    p.mb-0 Guantes de látex.
                            tr
                                td.table2
                                    p.mb-0 Entre otros que se requieran para la toma de muestra según el análisis especifico.

        .row.align-items-center.justify-content-center.my-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img48.png", style="max-width: 70%")

    br#equipos1

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.2 Equipos y materiales para análisis de parámetros en campo o in situ en agua
        
        p Existen algunos parámetros que por sus características o inestabilidad deben ser medidos en el lugar de la recolección (In situ). Entre estos, dependiendo del tipo de agua y su fin es posible encontrar la temperatura, olor, color, pH, cloro, conductividad, entre otros.

        p La medición de los parámetros in situ se puede hacer directamente en el cuerpo de agua o extrayendo una muestra mediante el uso de los recipientes adecuados.

        .row.align-items-center.justify-content-center.my-5
            .col-12.text-center
                img.img-fluid(src="assets/images/pages/img49.png", style="max-width: 100%")
        
        .header-arrow.my-5
            h3.text-center Siendo necesario tener en cuenta las siguientes recomendaciones:
        
        .list.align-items-start.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Los equipos de medición deben ser calibrados y verificados antes de la medición.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p El uso de equipos y kits de medición se debe hacer acorde instrucciones y manuales de operación.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p En el caso de equipos que hacen uso de electrodos para medición, posterior a su uso este debe ser lavado con agua destilada y conservado acorde a los protocolos del proveedor para garantizar su tiempo de vida útil.
        
        .header-arrow.my-5
            h3.text-center Los equipos utilizados en campo son:

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12

                .row.align-items-center
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img50.png", style="max-width: 50%")
                    .col-8
                        p #[b Equipo multiparámetro.]
                        
                        p Para determinación del pH, Conductividad, Temperatura, Oxígeno disuelto, ORP y turbidez. Los diferentes modelos multiparamétricos portátiles son instrumentos de medición muy precisos pensados para aplicaciones móviles en los que sea necesario medir más de un parámetro. Se cuenta con sensores digitales inteligentes IDS donde la señal de medición no se procesa en el instrumento, sino que se genera directamente en el sensor.

                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img51.png", style="max-width: 50%")
                    .col-8
                        p #[b Reactivos de calibración del multiparámetro.]
                        
                        p Son soluciones para calibrar los equipos en campo.
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img52.png", style="max-width: 50%")
                    .col-8
                        p #[b Equipo termohigrómetro.]

                        p El termohigrómetro es una combinación de termómetro e higrómetro digital, para medir y visualizar los valores del ambiente, en su pantalla se muestra la temperatura y la humedad del aire.
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img53.png", style="max-width: 50%")
                    .col-8
                        p #[b Equipo GPS Geoposicionador.]

                        p El Geoposicionador (GPS) es un sistema de radionavegación de los Estados Unidos de América, basado en el espacio, que proporciona servicios fiables de posicionamiento, navegación, y cronometría gratuita e ininterrumpidamente a usuarios civiles en todo el mundo. A todo el que cuente con un receptor del GPS, el sistema le proporcionará su localización y la hora exacta en cualesquiera condiciones atmosféricas, de día o de noche, en cualquier lugar del mundo y sin límite al número de usuarios simultáneos.
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img54.png", style="max-width: 50%")
                    .col-8
                        p #[b Equipo Cámara fotográfica.]

                        p Tomar fotografías del lugar, los puntos de muestreo y las actividades realizadas de toma de muestra.
        
        .header-arrow.my-5
            h3.text-center Equipos para protección personal para la toma de muestra:
        
        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white.mb-0 #[b Para protección y seguridad de las personas que efectúan el muestreo]
                        tbody
                            tr
                                td.table3
                                    p.mb-0 Overol impermeable para muestreo o aforo.
                            tr
                                td.table2
                                    p.mb-0 Gafas de Seguridad.
                            tr
                                td.table3
                                    p.mb-0 Frasco de alcohol.
                            tr
                                td.table2
                                    p.mb-0 Guantes de látex.
                            tr
                                td.table3
                                    p.mb-0 Botas de caucho.
                            tr
                                td.table2
                                    p.mb-0 Botiquín de primeros auxilios.
        
        .header-arrow.my-5
            h3.text-center Equipos utilizados en caso de medición de aforo (caudal) sobre todo en toma de muestras de aguas superficiales:
        
        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white.mb-0 #[b Equipo para aforo]
                        tbody
                            tr
                                td.table3
                                    p.mb-0 Cinta métrica.
                            tr
                                td.table2
                                    p.mb-0 Baterias cargadas.
                            tr
                                td.table3
                                    p.mb-0 Beaker 1000ml.
                            tr
                                td.table2
                                    p.mb-0 Balde.
                            tr
                                td.table3
                                    p.mb-0 Varilla del molinete.
                            tr
                                td.table2
                                    p.mb-0 Molinete.
                            tr
                                td.table3
                                    p.mb-0 Arnés de seguridad.
                            tr
                                td.table2
                                    p.mb-0 Escalera.
                            tr
                                td.table3
                                    p.mb-0 Lazo. (línea de seguridad)
                            tr
                                td.table2
                                    p.mb-0 Tuberia de pvc.
    
    br#equipos2

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.3 Equipos y materiales para la toma de muestras de suelo

        p.mt-4 Equipos requeridos para el muestreo de suelos:

        .list.align-items-start.mt-4
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Tabla de apoyo con agarradera para escribir.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p otuladores y gomas de borrar apropiados para tomar notas, identificar muestras (por ejemplo, rotuladores de secados rápidos e indelebles al agua).
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Machete este tipo de herramienta puede ser necesaria para limpiar la vegetación cuando se toman perfiles. Barrenos.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Existen varios tipos de barrenos: de taladro, de sonda o tubos y de tipo holandés Estas herramientas son las recomendadas para las labores de muestreo, además de facilitar el proceso, permiten tomar muestras a diferentes profundidades. En cualquier caso, es siempre necesario que las muestras o sub muestras tomadas con este tipo de herramienta, sean retiradas de manera uniforme en volumen y profundidad. Para muestreos superficiales los barrenos de sonda o tubo son los más utilizados por proveer un volumen constante en cada una de las sub muestras recolectadas. Su uso es limitado en suelos de textura arcillosa (pesados), compactados o pedregosos; en estos puede utilizarse el barreno de taladro.  El de tipo holandés es de uso común cuando se quiere tomar muestras a profundidad hasta de 1,5 m.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Balde. Este implemento se requiere para depositar allí las sub muestras recolectadas. Se debe asegurar la limpieza y asepsia del recipiente, para evitar posible contaminación de la muestra.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Bolsas plásticas. Las bolsas de polietileno deben ser livianas, fáciles de llevar y de bajo costo. Muchas de ellas deben ser revisadas y analizadas para establecer el contenido de PCB (Bifenil policlorados), ya que puede absorber algunos componentes de las sustancias contaminantes.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Recipientes de vidrio. Son usados con frecuencia cuando se utilizan indicadores de tipo biológico, los que deben ser refrigerados para su preservación. Cuando se usan frascos o botellas de vidrio para tal fin, se recomienda esterilizarlos en autoclaves para garantizar su asepsia.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p Neveras tipo picnic. Son requeridas para congelar o refrigerar las muestras con hielo seco. Las muestras que se refrigeren deben empacarse previamente en recipientes de vidrio.

        p Para ampliar la información, diríjase al siguiente link:
        
        section
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_3_Guia_tecnica_muestreo_suelos.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Guía técnica para muestreo de suelos
        
        .header-arrow.my-5
            h3.text-center Los equipos utilizados en campo:

        p.mt-4 para campo se requieren de equipos especializados.

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12

                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img55.png", style="max-width: 50%")
                    .col-8
                        p #[b Indicador de Ph:]
                        
                        p El pH determina que tan acido está el suelo y tiene un rango de 4-9.
                        
                        p El pH se determina sobre la base de la comparación del color.

                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img56.png", style="max-width: 50%")
                    .col-8
                        p #[b Juego de tamices de bolsillo:]
                        
                        p Juego de tamices manuales, tamaño de bolsillo.
                        
                        p Altura: 40 mm Contiene 6 discos intercambiales.
                        
                        p Tamaño de poro: 2, 0–1, 0-0, 5-0, 25-0, 125 y 0,063 mm.
                        
                        p Diametro 100mm.
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img57.png", style="max-width: 50%")
                    .col-8
                        p #[b Penetrometro de bolsillo:]
                        
                        p Se utiliza específicamente para determinar la resistencia a la penetración de las capas superiores del suelo. 
                        
                        p Precisión de lectura: 3% Profundidad máxima de medición 1 cm.
                        
                        p Intervalo de medición 0 – 500 kPa.
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img58.png", style="max-width: 50%")
                    .col-8
                        p #[b Medidor de esfuerzo de corte:]

                        p Es un instrumento diseñado para la determinación de la resistencia al corte de los suelos. Contiene 3 anillos para un amplio rango de medición.
                        
                        p Se requiere una superficie plana de 25 mm de diámetro.
                        
                        p Rango de medición 0 -250 kPa.

                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img59.png", style="max-width: 50%")
                    .col-8
                        p #[b Equipo termohigrómetro:]

                        p El termohigrómetro es una combinación de termómetro e higrómetro digital, para medir y visualizar los valores del ambiente, en su pantalla se muestra la temperatura y la humedad del aire.
        
        .header-arrow.my-5
            h3.text-center Equipos para protección personal para la toma de muestra:
        
        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-bordered.m-0
                        thead.thead-dark
                            tr
                                td.table1
                                    p.text-center.text-white.mb-0 #[b Para protección y seguridad de las personas que efectúan el muestreo]
                        tbody
                            tr
                                td.table3
                                    p.mb-0 Overol impermeable para muestreo o aforo.
                            tr
                                td.table2
                                    p.mb-0 Gafas de Seguridad.
                            tr
                                td.table3
                                    p.mb-0 Frasco de alcohol.
                            tr
                                td.table2
                                    p.mb-0 Guantes de látex.
                            tr
                                td.table3
                                    p.mb-0 Botas de Caucho.
                            tr
                                td.table2
                                    p.mb-0 Botiquín de primeros auxilios.
    
    br#equipos3

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.4 Equipos y materiales para la toma de muestras de olores
        
        p Equipos de medicion 

        p Teniendo en cuenta el documento Contaminación Ambiental por Olores. Fundamentos Básicos.

        .header-arrow.my-5
            h3.text-center  A continuación, veremos los equipos de medición para estimar los olores ofensivos y los principales requerimientos en las mediciones.

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12
        
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img60.png", style="max-width: 50%")
                    .col-8
                        p.mb-0 #[b Equipo de muestreo para fuente puntual:]

                        p (Ductos o chimeneas)

                        p Se utiliza el método de la sonda. Este método consiste en la “aspiración” mediante una sonda de una fracción alícuota del gas emitido por la fuente. (Sanchez, J.L. 2008. Pag. 9)
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img61.png", style="max-width: 50%")
                    .col-8
                        p.mb-0 #[b Muestreo de fuentes difusas aireadas:]

                        p (Superficiales activas)

                        p Para este tipo de fuentes (reactor biológico de una depuradora o un biofiltro) se utiliza el método de la Campana En estas situaciones se coloca una campana de base cuadrada (1 m2) sobre la superficie a muestrear, de manera que, a la salida de esta, la muestra es succionada mediante una sonda. (Sanchez, J.L. 2008. Pag. 10)
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img62.png", style="max-width: 50%")
                    .col-8
                        p.mb-0 #[b Muestreo de fuentes difusas no aireadas:]

                        p (Superficiales pasivas)

                        p Para este tipo de fuentes (decantador de una depuradora o una parva o pila de compost) se utiliza el método del túnel del viento o “cámara de flujo” (conocida también como Caja Lindvall Para ello, mediante un soplante, se insufla un caudal conocido de aire previamente filtrado, a través de la cámara de flujo, tomando la muestra mediante una sonda a la salida de la misma. (Sanchez, J.L. 2008. Pag. 10)
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img63.png", style="max-width: 50%")
                    .col-8
                        p #[b Bolsas de Gas para Muestreo:]

                        p Bolsas para toma de muestras de gas están fabricados de Nalophan® estas están diseñadas específicamente para responder a las exigencias de calidad de la norma EN 13725, especialmente para minimizar el riesgo de contaminación de muestras, su tamaño puede variar8 , 10 40 o 60 Lt.
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img64.png", style="max-width: 50%")
                    .col-8
                        p #[b Olfatómetro:]

                        p Es un equipo que permite crear una serie calibrada de diluciones discretas mediante la mezcla del olor ambiental con aire libre de olor. La olfatometría de campo calcula el parámetro “Dilución hasta el Umbral” (D/T) como el cociente (proporción):

                        p D / T = Volumen de aire filtrado / Volumen de aire oloroso
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img65.png", style="max-width: 50%")
                    .col-8
                        p #[b GPS Sistema de Posicionamiento Global:]

                        p Es un instrumento de localización que toma como referencia para la ubicación y navegación los satélites que están estacionados en la órbita del planeta, permiten determinar la posición de un objeto o persona con una precisión de hasta 1 metro, su funcionamiento o sistema de navegación se reporta en grados, minutos y segundos ubicando la longitud y la latitud del punto que se va a referenciar.

                        p En la medición de ruido, se convierte en un elemento fundamental, para ubicar con mayor precisión los puntos en donde se va a ubicar los puntos del monitoreo.
                
                .row.align-items-center.mt-4
                    .col-4.text-center
                        img.img-fluid(src="assets/images/pages/img66.png", style="max-width: 50%")
                    .col-8
                        p #[b Estación Meteorológica Portátil:]

                        p Una estación meteorológica es un dispositivo que recoge los datos de distintas variables atmosféricas, su finalidad es medir variables como la temperatura, precipitación, presión atmosférica la velocidad y dirección del viento, radiación solar, entre otras variables, su configuración depende del tipo de estudios que se realicen, generalmente en los trabajos de capo es importante que sean portátiles.
    
    br#equipos4

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.5 Equipos de medicion de ruido

        p Los equipos de medición para emisión de ruido y ruido ambiental se clasifican bajo criterios establecidos por la resolución 60027 de 2006.

        .header-arrow.my-5
            h3.text-center  A continuación, veremos los principales requerimientos en las mediciones.

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-5.rounded
            .col-12
        
                p #[b Sonómetro:]

                p De acuerdo con lo establecido en la Resolución 627 de 2006, las mediciones se deben realizar con sonómetros Clase 1 o Clase 2 según la norma IEC 61672-1:2002 o cualquiera que la sustituya.

                .row.mb-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img67.png", style="max-width: 50%")

                p Internacionalmente los sonómetros que son aceptados son del tipo CLASE 1, los cuales son empleados para hacer las mediciones de ruido ambiental de acuerdo con especificaciones técnicas internacionales que establecen una precisión mayor en la medición.

                p La Precisión de los sonómetros según la norma IEC 61672.

                ul
                    li Clase 1 Precisión ± 1 dB.
                    li.mt-2 Clase 2 Precisión ± 1.5 dB.

                p Visualice el siguiente video: “¿qué es un sonómetro?” para conocer más información.

                .row.justify-content-center.mt-5
                    .col-12.col-md-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/edm3b_H0p8A', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                p.mt-4 Es importante reconocer cuáles son las partes del sonómetro por esta razón ilustraremos una imagen representativa que muestra cada una de las partes del equipo.

                .row.mb-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img72.png", style="max-width: 50%")

                .row.align-items-center.justify-content-center.bg-color2.p-4.mx-0.mt-5.rounded
                    .col-12
                        p #[b ¡PARA TENER EN CUENTA!]

                        p Según Protocolo de ruido ambiental, es importante el técnico o persona que realiza las mediciones este separado por lo menos del equipo a una distancia de 0.5 mts o 50 cm con el fin de evitar apantallamiento del micrófono y mediciones erróneas.
                
                .hr
                
                p.mt-5 #[b Pistófono o Calibrador Acústico:]

                p Según el “Protocolo para la medición de emisión de ruido, ruido ambiental” La verificación y/o ajuste de la calibración de los sonómetros se deben realizar con calibradores o pistófonos que cumplan con la norma IEC 60942:2003.

                .row.mb-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img68.png", style="max-width: 50%")
                
                p Se debe verificar el cumplimiento del calibrador o pistófono con los requisitos de la norma IEC 60942:2003 por lo menos una vez al año y el cumplimiento del sonómetro con los requisitos de la norma IEC 61672-1:2002 según la Clase del sonómetro por lo menos cada dos años en un laboratorio con trazabilidad a patrones nacionales.

                .hr

                p.mt-5 #[b Tripode:]

                p El trípode es una estructura u armazón de 3 puntos de apoyo generalmente que son articulados y plegables sirve para sostener el sonómetro cuya capacidad de extensión telescópica debe ser hasta de 4 metros de altura el giro sobre su propio eje debe ser de 360º para poder hacer las mediciones en los diferentes puntos de acuerdo a lo establecido en el protocolo para el monitoreo de ruido MADS.

                .row.mb-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img69.png", style="max-width: 50%")

                .hr

                p.mt-5 #[b Anemómetro:]

                p Teniendo en cuenta el protocolo para el monitoreo de ruido MADS, el anemómetro es un instrumento que se emplea en este caso, para medir la velocidad (fuerza del viento) y la dirección del viento es uno de los aparatos meteorológicos que se deben emplear en la medición del ruido puesto que su función consiste en determinar si la velocidad del viento está por encima de los 3 m/s.

                .row.mb-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img70.png", style="max-width: 50%")
                
                .hr

                p.mt-5 #[b GPS Sistema de Posicionamiento Global:]

                p Es un instrumento de localización que toma como referencia para la ubicación y navegación los satélites que están estacionados en la órbita del planeta, permiten determinar la posición de un objeto o persona con una precisión de hasta 1 metro, su funcionamiento o sistema de navegación se reporta en grados, minutos y segundos ubicando la longitud y la latitud del punto que se va a referenciar.

                .row.mb-4
                    .col-12.text-center
                        img.img-fluid(src="assets/images/pages/img71.png", style="max-width: 50%")

                p En la medición de ruido, se convierte en un elemento fundamental, para ubicar con mayor precisión los puntos en donde se va a ubicar los puntos del monitoreo.

        p.mt-5 ¡Estimado Aprendiz! Para profundizar en el tema lo invitamos a consultar en material de apoyo.

        section.mt-4
            .row
                .col-auto
                    a(href="media/documentos/CGI-LA-019_Fromato_cadena_custodia_lab_ambiental.docx" target="_blank").media-link
                        img(src="assets/images/icons/icon_document.svg", alt="").media-link-icon
                        .media-link-title
                            p Cadena de custodia

        section.mt-4
            .row
                .col-auto
                    a(href="media/documentos/Anexo_5_lista_verificacion_alistamiento_equipos.xlsx" target="_blank").media-link
                        img(src="assets/images/icons/icon_document.svg", alt="").media-link-icon
                        .media-link-title
                            p Lista de verificación: agua, suelo, olores, ruido.
    
    section.my-6#actividad-7
        .subtitulo-guion.subtitulo-guion
            h2 Actividad didáctica: XXXXXXXXXXXXXXXXXXX.
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Acabamos de ver algunos #[strong usos del mercurio] que fueron surgiendo en la historia de la humanidad, sin embargo, existen otros que exploraremos a continuación, por ello es necesario que realice la actividad de aprendizaje #[strong Procesos y Productos] en donde encontrará unas preguntas de identificación de productos y procesos con mercurio añadido.    

                    a(href="media/actividades/actividad2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad   

        hr.line-100.bg-orange.my-5