.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Agua potable o agua para consumo humano:
            | es aquella que, por cumplir las características físicas, químicas y microbiológicas, en las condiciones señaladas en el presente decreto y demás normas que la reglamenten, es apta para consumo humano. Se utiliza en bebida directa, en la preparación de alimentos o en la higiene personal (Decreto 1575, 2007, Pag. 1).
        p
            strong.mr-2 Aguas residuales:
            | aguas que contienen residuos líquidos o materias sólidas evacuadas como desechos. (WMO, 2012). Las aguas residuales son cualquier tipo de agua cuya calidad está afectada negativamente por la influencia antropogénica. Las aguas residuales incluyen las aguas usadas, domésticas, urbanas y los residuos líquidos industriales o mineros eliminados, o las aguas que se mezclaron con las anteriores (aguas pluviales o naturales) (IDEAM, sf).
        p
            strong.mr-2 Análisis físico y químico del agua:
            | son aquellos procedimientos de laboratorio que se efectúan a una muestra de agua para evaluar sus características físicas, químicas o ambas (Resolución 2115, 2007, Pag. 1).
        p
            strong.mr-2 Calidad del agua:
            | es el resultado de comparar las características físicas, químicas y microbiológicas encontradas en el agua, con el contenido de las normas que regulan la materia  (Decreto 1575, 2007, Pag. 1).
        p
            strong.mr-2 Característica:
            | término usado para identificar elementos, compuestos, sustancias y microorganismos presentes en el agua para consumo humano (Resolución 2115, 2007, Pag. 1).
        p
            strong.mr-2 Cuerpos o cursos de agua:
            | corresponden aquellos cauces o almacenamientos de agua como: arroyos, quebradas, ríos, lagos, lagunas, pantanos, humedales y acuíferos que conforman el sistema hidrográfico de una cuenca geográfica. Son las aguas corrientes superficiales y subterráneas, lagos, lagunas, ciénagas, manantiales, humedales, embalses de formación natural o artificial, chucuas o madre vieja o antiguos cauces con flujos estacionales, esteros, bahías, lagunas costeras, golfos y las aguas marinas. (IDEAM, sf)
        p
            strong.mr-2 dB(A):
            | unidad de medida de nivel sonoro con ponderación frecuencial (A).
            br
            p Donde R= razón de energía, potencia o intensidad. (Resolución 627 de 2006)
        p
            strong.mr-2 Decibel (dB):
            | Décima parte del Bel, razón de energía, potencia o intensidad que cumple con la siguiente expresión: Log R = 1dB/10(Resolución 627 de 2006).
        p
            strong.mr-2 Embalse:
            | los embalses constituyen lagos o lagunas artificiales creados por el hombre para almacenar agua, usualmente con el propósito de generación de electricidad, aunque también para prestar otros servicios como control de caudales, inundaciones, abastecimiento de agua y para riego. (IDEAM, sf)
        p
            strong.mr-2 Emisión:
            | es la descarga de una sustancia o elemento al aire coma en estado sólido, líquido o gaseoso, o en alguna combinación de estos provenientes de una fuente fija o móvil. (Resolución 1541 de 2013)
        p
            strong.mr-2 Emisión de ruido:
            | es la presión sonora que, generada en cualesquiera condiciones, trasciende al medio ambiente o al espacio público. (Resolución 627 de 2006)
        p
            strong.mr-2 Fuente:
            | elemento que origina la energía mecánica vibratoria, definida como ruido o sonido. Puede considerarse estadísticamente como una familia de generadores de ruido que pueden tener características físicas diferentes, distribuidas en el tiempo y en el espacio. (Resolución 627 de 2006)
        p
            strong.mr-2 Frecuencia (f):
            | Número de oscilaciones por segundo (Unidad SI: 1/s = Hz, Hertzio). La frecuencia de un sonido y de una onda acústica en general, es una magnitud física muy importante pues:
            br
            ul
                li El oído humano de un adulto normal solo es capaz de detectar ondas acústicas entre 20 y 20000 Hz.
                li El comportamiento acústico de los materiales y soluciones constructivas depende mucho de la frecuencia. (Resolución 627 de 2006)
        p
            strong.mr-2 Horizonte del suelo:
            | es una capa de suelo o de material de suelo aproximadamente paralela a la superficie  del  terreno,  que  es  producto  de  la  evolución  y  que  difiere  de  capas  adyacentes  genéticamente  relacionadas  con  ella  en  propiedades  y  características  físicas, químicas y biológicas. (NTC 3656)
        p
            strong.mr-2 Laguna:
            | es un depósito natural más o menos considerable de agua dulce o salada, en conexión con el mar o sin ella que no abastece ni es abastecido, o abastece sin ser abastecido o es abastecido sin abastecer y cuya profundidad es mayor a los 10 m (IDEAM, sf).
        p
            strong.mr-2 Mapas de ruido:
            | se entiende por mapa de ruido, la representación de los datos sobre una situación acústica existente o pronosticada en función de un indicador de ruido, en la que se indica la superación de un valor límite, el número de personas afectadas en una zona dada y el número de viviendas, centros educativos y hospitales expuestos a determinados valores de ese indicador en dicha zona. (Resolución 627 de 2006)
        p
            strong.mr-2 Monitoreo:
            | proceso de muestreo del sistema de suministro de agua para consumo humano, que cubre espacio, tiempo y frecuencia en los puntos concertados según norma (IDEAM, s,f).
        p
            strong.mr-2 Muestra:
            | toma puntual de agua en los puntos de muestreo concertados, que refleja la composición física, química y microbiológica representativa del momento, para el proceso de vigilancia de la Autoridad Sanitaria. (INS, 2011, Pag. 9)
        p
            strong.mr-2 Muestreo:
            | proceso de toma de muestras que son analizadas en laboratorios para obtener información sobre la calidad del agua del sitio concertado en que fueron tomadas. (INS, 2011, Pag. 9)
        p
            strong.mr-2 Norma de emisión de ruido:
            | es el valor máximo permisible de presión sonora, definido para una fuente, por la autoridad ambiental competente, con el objeto de cumplir la norma de ruido ambiental. (Resolución 627 de 2006)
        p
            strong.mr-2 Norma de ruido ambiental:
            | es el valor establecido por la autoridad ambiental competente, para mantener un nivel permisible de presión sonora, según las condiciones y características de uso del sector, de manera tal que proteja la salud y el bienestar de la población expuesta, dentro de un margen de seguridad. (Resolución 627 de 2006)
        p
            strong.mr-2 Olfatometría:
            | técnica sensorial de medición de olores que se usa para determinar el grado de molestia que pueden ocasionar ciertos olores a la población. (Protocolo Olores Ofensivos MADS)
        p
            strong.mr-2 olor:
            | propiedad organoléptica perceptible por el órgano olfativo cuando inspira determinadas sustancias volátiles. (Resolución 1541 de 2013)
        p
            strong.mr-2 Olor ofensivo:
            | es el olor generado por sustancias o actividades industriales, comerciales o de servicio, que produce fastidio, aunque no cause daño a la salud humana. (Resolución 1541 de 2013)
        p
            strong.mr-2 Pascal (Pa):
            | unidad de presión en el sistema MKS equivalente a: 1 Newton / m2  =10 barias. (Resolución 627 de 2006)
        p
            strong.mr-2 Perfil del suelo:
            | exposición vertical de horizontes de un suelo individual que son el resultado de la edafogénesis durante el período de formación del suelo. (NTC 3656)
        p
            strong.mr-2 Pistófono:
            | es una pequeña cavidad provista de un pistón con movimiento de vaivén y desplazamiento medible, que permite establecer una presión conocida en el interior de la cavidad. Generalmente utilizado para efectuar calibraciones de sonómetros. (Resolución 627 de 2006)
        p
            strong.mr-2 Pozo:
            | agujero o perforación excavado o taladrado en la tierra para extraer agua subterránea  (IDEAM, s,f).
        p
            strong.mr-2 Presión sonora:
            | es la diferencia entre la presión total instantánea en un punto cuando existe una onda sonora y la presión estática en dicho punto. (Resolución 627 de 2006)
        p
            strong.mr-2 Puntos de muestreo en red de distribución:
            | son aquellos sitios concertados y materializados con dispositivos de toma, donde se realiza la recolección de la muestra de agua para la vigilancia y el control (Resolución 0811, 2008).
        p
            strong.mr-2 Representatividad:
            | lapso de 10 minutos, dentro de los cuales se toma la muestra y contramuestra de agua en el dispositivo instalado en el sitio de monitoreo concertado entre vigilancia y control (INS, 2011, Pag. 9).
        p
            strong.mr-2 Río:
            | corriente de agua de grandes dimensiones que sirve de canal natural en una cuenca de drenaje (IDEAM, s,f).
        p
            strong.mr-2 Sonido:
            | sensación percibida por el órgano auditivo, debida generalmente a la incidencia de ondas de comprensión (longitudinales) propagadas en el aire. Por extensión se aplica el calificativo del sonido, a toda perturbación que se propaga en un medio elástico, produzca sensación audible o no. (Resolución 627 de 2006)
        p
            strong.mr-2 Sonómetro:
            | es un instrumento de medición de presión sonora, compuesto de micrófono, amplificador, filtros de ponderación e indicador de medida, destinado a la medida de niveles sonoros, siguiendo unas determinadas especificaciones. (Resolución 627 de 2006)
        p
            strong.mr-2 Suelo:
            | sistema natural desarrollado, o desarrollándose a partir de una mezcla de minerales y restos orgánicos, bajo la influencia del clima y del medio biológico; es un sistema de tres fases (sólida, líquida y gaseosa), que se diferencia en horizontes y sirve como medio natural para el crecimiento de las plantas. (NTC 3656)
        p
            strong.mr-2 Suelo contaminado:
            | es aquel que, por acción natural y principalmente antrópica recibe sustancias extrañas de tipo sólido, líquido o gaseoso, que limitan, o pueden limitar, el crecimiento de las plantas y afectan desfavorablemente la biota edáfica, la vida animal y la  salud humana. (NTC 3656)
        p
            strong.mr-2 Sustancia química peligrosa:
            | cualquier químico que represente un peligro bajo uso normal o en una emergencia (Ministerio de educación nacional, 2015, Pag. 11)
        p
            strong.mr-2 Sustancia de olor ofensivo:
            | es aquella que, por sus propiedades organolépticas, composición y tiempo de exposición puede causar olores desagradables. (Resolución 1541 de 2013)
        p
            strong.mr-2 Traza:
            | es una cantidad mínima de una característica química encontrada en el agua analizada de la muestra o contramuestra tomada. (INS, 2011, Pag. 9)
        p
            strong.mr-2 Umbral de tolerancia:
            | para efectos de la presente resolución coma el umbral de tolerancia es el nivel permisible de calidad del aire o inmisión de mezclas de sustancias de olores ofensivos. (Resolución 1541 de 2013)
        p
            strong.mr-2 Unidad de muestreo:
            | es una porción de área uniforme, en cuanto a material parenteral, relieve, clima, vegetación, uso del suelo, manejo de tierras. (NTC 3656)
        p
            strong.mr-2 Unidad de olor:
            | es la cantidad de (una mezcla de) sustancias olorosas presentes en un metro cúbico de gas oloroso (en condiciones normales 1 atmósfera de presión y 0 °C de temperatura) origina una respuesta fisiológica en el umbral del panel. (Resolución 1541 de 2013)
        p
            strong.mr-2 Unidad de olor europea:
            | cantidad de sustancias olorosas qué coma cuando se va pobre en 1 metro cúbico de gas neutro en condiciones normales, origina una respuesta fisiológica de un panel entre (umbral de detección) equivalente al que origina una masa de olor de referencia europea (MORE) evaporada en 1 metro cúbico de gas neutro en condiciones normales. (Resolución 1541 de 2013)